@import "tailwindcss";

@theme {
  /* Cores oficiais do manual [cite: 3, 5, 7, 9] */
  --color-abradepa-dark: #02767c;
  --color-abradepa-medium: #03989e;
  --color-abradepa-light: #40e0d0;
  --color-abradepa-pale: #59e1e4;
  --color-abradepa-yellow: #fcee21;

  /* Fonte Montserrat [cite: 2] */
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui;
}

@layer base {
  body {
    @apply antialiased text-slate-900;
    font-family: var(--font-montserrat);
  }
}